<main class="grow col">

    <!-- Hero -->
    <section class="grow grid grid-cols-12 mt-[69px]">

        <div class="col-span-10 col-start-2 col center gap-4 grow px-viewport-padding py-20 text-center border-x border-line pattern-texture">

            <!-- Logo Icon -->
            <svg class="h-10 text-brand-content" viewBox="0 0 512 512" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M126.3 417.864C114.845 417.864 105.207 414.743 97.3839 408.501C89.5612 402.259 85.6499 393.256 85.6499 381.492V308.389C85.6499 297.826 81.7385 289.903 73.9159 284.621C66.3726 279.1 56.734 276.339 45 276.339V235.646C56.734 235.646 66.3726 233.005 73.9159 227.723C81.7385 222.201 85.6499 214.159 85.6499 203.595V130.852C85.6499 119.089 89.5612 110.086 97.3839 103.844C105.207 97.6016 114.845 94.4806 126.3 94.4806H142.877V131.933H143.063V209.357C143.063 215.119 141.805 220.641 139.291 225.923C137.056 230.964 133.983 235.526 130.071 239.607C126.16 243.688 121.55 247.169 116.242 250.05C110.934 252.691 105.346 254.492 99.4792 255.452V256.892C105.346 257.853 110.934 259.773 116.242 262.654C121.55 265.295 126.16 268.656 130.071 272.738C133.983 276.819 137.056 281.5 139.291 286.782C141.805 291.824 143.063 297.225 143.063 302.987V380.412H171.978V417.864H126.3Z" fill="currentColor" />
                <path d="M203.468 241.393V94.1362L295.424 326.717H296.77L388.725 94.1362H467V417.776H406.668V198.876H404.65L317.404 417.776H274.79L203.468 241.393Z" fill="currentColor" />
            </svg>

            <!-- Hero Text -->
            <h1>Level-up HTML</h1>
            <p class="w-[45rem] max-w-full text-xl text-content-neutral">Manifest extends HTML for rapid, feature-rich
                website and web app development, without the overhead of complex frameworks and dependencies.</p>
            <div class="row-wrap gap-2"><mark>Built on Alpine JS</mark><mark>Compatible with Tailwind CSS</mark></div>
            <p class="mt-4 font-mono font-semibold text-accent-content">Drop a star and leave feedback on <a href="https://github.com/Manifest-X/Manifest" target="_blank" class="accent">GitHub</a></p>

        </div>

    </section>

    <!-- Features -->
    <section class="grow grid grid-cols-12 border-t border-line">

        <div class="col-span-10 col-start-2 grid grid-cols-3 font-mono text-center text-brand-content border-x border-line [&_div]:flex [&_div]:justify-center [&_div]:items-center [&_div]:p-4">
            <div>
                <span>Skip the build steps</span>
            </div>
            <div class="border-x border-line">
                <span>Use only what you need</span>
            </div>
            <div>
                <span>Stack with other frameworks</span>
            </div>
        </div>

    </section>

    <!-- Links -->
    <section class="grow grid grid-cols-12 border-t border-line">

        <div class="col-span-10 col-start-2 p-viewport-padding border-x border-line pattern-texture">
            <div class="grow row-wrap justify-between p-10 bg-surface-1">
                <div class="col gap-4 p-4">
                    <small class="text-sm text-content-subtle font-mono">Features</small>
                    <ul>
                        <li x-icon="lucide:panels-top-left">Components</li>
                        <li x-icon="lucide:database">Data Sources</li>
                        <li x-icon="lucide:languages">Localization</li>
                        <li x-icon="lucide:route">Routing</li>
                    </ul>
                    <small class="mt-4 text-sm text-content-subtle font-mono">UX/UI</small>
                    <ul>
                        <li x-icon="lucide:paint-bucket">Global Theme</li>
                        <li x-icon="lucide:palette">Color Modes</li>
                        <li x-icon="lucide:swatch-book">Utility Styles</li>
                        <li x-icon="lucide:square-mouse-pointer">20+ Elements</li>
                    </ul>
                    <small class="mt-4 text-sm text-content-subtle font-mono">...and more</small>
                </div>
                <div class="w-[700px] max-w-full col gap-4 p-4 font-mono">
                    <a href="/docs/getting-started/introduction" class="brand lg w-full h-full !min-h-20" role="button"><span x-icon="lucide:book-open"></span> Get Started</a>
                    <a href="https://github.com/Manifest-X/Manifest" target="_blank" class="lg w-full h-full !min-h-20" role="button"><span x-icon="simple-icons:github"></span>
                        GitHub</a>
                </div>
            </div>
        </div>

    </section>

</main>

<footer class="grid grid-cols-12 mt-auto border-t border-line">
    <nav class="col-span-10 col-start-2 row-wrap justify-center md:justify-between items-center gap-4 px-viewport-padding p-10 text-center border-x border-line">
        <small>By <a href="https://andrewmatlock.com" target="_blank">Andrew Matlock</a></small>
        <small class="row-wrap center gap-4">
            <a href="/resources/license" class="ghost" role="button">MIT License</a>
            <a href="/resources/privacy" class="ghost" role="button">Privacy</a>
            <a href="https://github.com/Manifest-X/Manifest" target="_blank" class="ghost" role="button"><span x-icon="simple-icons:github"></span> GitHub</a>
        </small>
    </nav>
</footer>