<header style="view-transition-name: site-header" class="fixed top-0 left-0 right-0 z-5 max-w-screen px-viewport-padding bg-surface-1/65 backdrop-blur-xl">

    <!-- Content Area -->
    <nav class="row md:grid md:grid-cols-3 justify-between items-center gap-4 max-w-full mx-auto py-4" :class="$route === '/' ? 'w-content-width' : 'w-full'">

        <!-- Start -->
        <div class="row items-center gap-3">

            <!-- Logo -->
            <a href="/#home" class="w-fit no-underline text-lg font-semibold tracking-tighter">
                <span class="hidden md:flex">{Manifest}</span>
                <span class="md:hidden">{M}</span>
            </a>

            <!-- Docs Breadcrumbs-->
            <small class="hidden sm:flex md:hidden truncate" x-route="/docs/*">
                <span x-text="$x.docs.$route('path')?.group || 'No group'"></span>
                <span class="mx-1.5" x-icon="lucide:chevron-right"></span>
                <span class="text-content-stark" x-text="$x.docs.$route('path')?.name || 'No article'"></span>
            </small>

        </div>

        <!-- Middle -->
        <div class="hidden md:row justify-center items-center gap-6 no-underline" x-route="/">
            <a href="#features" class="text-sm no-underline">Features</a>
            <a href="#comparisons" class="text-sm no-underline">Comparisons</a>
            <a href="#faq" class="text-sm no-underline">FAQ</a>
        </div>
        <div x-route="!/"></div>

        <!-- End -->
        <div class="row justify-end items-center gap-2">

            <!-- CTAs -->
            <button popovertarget="docs-search" class="sm transparent outlined rounded-full" aria-label="Search docs">
                <span x-icon="lucide:search"></span>
                <span class="hidden md:inline text-xs text-content-subtle">⌘K</span>
            </button>
            <a role="button" href="https://github.com/Manifest-X/Manifest" target="_blank" class="sm transparent outlined rounded-full"><span x-icon="meteor-icons:github"></span><span>GitHub</span></a>
            <a role="button" href="/docs/getting-started/introduction" class="sm accent rounded-full">Docs</a>

            <!-- Mobile Sidebar Button -->
            <button class="ghost flex md:hidden" popovertarget="mobile-navigation" x-icon="lucide:menu" aria-label="Mobile Navigation"></button>

        </div>

    </nav>

    <!-- Mobile Navigation Sidebar -->
    <nav aria-label="Documentation" data-static popover id="mobile-navigation" data-no-view-transition class="col w-64 h-full pt-8 pb-64 px-4 shadow-xl overflow-y-auto no-scrollbar">
        <template x-for="group in $x.docs" :key="group.group">
            <div class="col gap-6 py-4">
                <small class="pl-2.5 text-content-subtle" x-text="group.group"></small>
                <div class="col">
                    <template x-for="(item, index) in group.items" :key="item.path || index">
                        <a x-show="item.name" role="button" popovertarget="mobile-navigation" popoveraction="hide" :href="'/docs/' + group.slug + '/' + item.path" :aria-current="$x.docs.$route('path') && $x.docs.$route('path').path === item.path ? 'page' : null" class="ghost justify-start w-full text-content-neutral" :class="[
                              $x.docs.$route('path') && $x.docs.$route('path').path === item.path ? 'selected brand !text-content-stark pointer-events-none' : ''
                            ]" @click="window.dispatchEvent(new CustomEvent('manifest:route-change', { detail: { from: window.location.pathname, to: '/docs/' + group.slug + '/' + item.path, normalizedPath: group.slug + '/' + item.path } }))">
                            <span x-icon="item.icon"></span>
                            <span x-text="item.name"></span>
                        </a>
                    </template>
                </div>
                <hr>
            </div>
        </template>
    </nav>

</header>