<section class="col gap-8 px-20 py-20" style="background-image: linear-gradient(to right, var(--color-page) 0%, var(--color-page) 25%, var(--color-surface-1) 25%, var(--color-surface-1) 50%, var(--color-surface-2) 50%, var(--color-surface-2) 75%, var(--color-surface-3) 75%, var(--color-surface-3) 100%)">


    <!-- Colors -->
    <div class="row-wrap gap-8">

        <span class="h6">Colors</span>

        <!-- Base Palette -->
        <div class="theme-text-wrapper">
            <div>
                <small>Base Palette</small>
                <button class="transparent" x-icon="lucide:ellipsis"></button>
            </div>
            <div class="row gap-px w-full">
                <div role="group" class="theme-button-wrapper w-full">
                    <button class="bg-50"></button>
                    <button class="bg-100"></button>
                    <button class="bg-200"></button>
                    <button class="bg-300"></button>
                    <button class="bg-400"></button>
                    <button class="bg-500"></button>
                    <button class="bg-600"></button>
                    <button class="bg-700"></button>
                    <button class="bg-800"></button>
                    <button class="bg-900"></button>
                    <button class="bg-950"></button>
                </div>
            </div>
        </div>

        <div class="row-wrap gap-4 w-full &_button:!w-2">

            <!-- Surface -->
            <div class="theme-text-wrapper !w-fit">
                <div>
                    <small>Surface</small>
                    <button class="transparent" x-icon="lucide:ellipsis"></button>
                </div>
                <div class="row gap-px">
                    <div role="group" class="theme-button-wrapper">
                        <button class="bg-page" x-tooltip="Page"></button>
                        <button class="bg-surface-1" x-tooltip="Surface 1"></button>
                        <button class="bg-surface-2" x-tooltip="Surface 2"></button>
                        <button class="bg-surface-3" x-tooltip="Surface 3"></button>
                        <button class="bg-popover-surface" x-tooltip="Popover Surface"></button>
                    </div>
                </div>
            </div>

            <!-- Content -->
            <div class="theme-text-wrapper !w-fit">
                <div>
                    <small>Content</small>
                    <button class="transparent" x-icon="lucide:ellipsis"></button>
                </div>
                <div class="row gap-px w-full">
                    <div role="group" class="theme-button-wrapper">
                        <button class="bg-content-subtle" x-tooltip="Subtle"></button>
                        <button class="bg-content-neutral" x-tooltip="Neutral"></button>
                        <button class="bg-content-stark" x-tooltip="Stark"></button>
                        <button class="bg-line" x-tooltip="Lines & Borders"></button>
                    </div>
                </div>
            </div>

            <!-- Fields -->
            <div class="theme-text-wrapper !w-fit">
                <div>
                    <small>Fields</small>
                    <button class="transparent" x-icon="lucide:ellipsis"></button>
                </div>
                <div class="row gap-px w-full">
                    <div role="group" class="theme-button-wrapper">
                        <button class="bg-field-surface" x-tooltip="Field Surface"></button>
                        <button class="bg-field-surface-hover" x-tooltip="Fueld Surface Hover"></button>
                        <button class="bg-field-inverse" x-tooltip="Field Inverse (Content)"></button>
                    </div>
                </div>
            </div>

            <!-- Brand -->
            <div class="theme-text-wrapper !w-fit">
                <div>
                    <small>Brand</small>
                    <button class="transparent" x-icon="lucide:ellipsis"></button>
                </div>
                <div class="row gap-px w-full">
                    <div role="group" class="theme-button-wrapper">
                        <button class="bg-brand-surface" x-tooltip="Brand Surface"></button>
                        <button class="bg-brand-surface-hover" x-tooltip="Brand Surface Hover"></button>
                        <button class="bg-brand-inverse" x-tooltip="Brand Inverse<br>(Field Content)"></button>
                        <button class="bg-brand-content" x-tooltip="Brand Content"></button>
                    </div>
                </div>
            </div>

            <!-- Accent -->
            <div class="theme-text-wrapper !w-fit">
                <div>
                    <small>Accent</small>
                    <button class="transparent" x-icon="lucide:ellipsis"></button>
                </div>
                <div class="row gap-px w-full">
                    <div role="group" class="theme-button-wrapper">
                        <button class="bg-accent-surface"></button>
                        <button class="bg-accent-surface-hover"></button>
                        <button class="bg-accent-inverse"></button>
                        <button class="bg-accent-content"></button>
                    </div>
                </div>
            </div>

            <!-- Positive -->
            <div class="theme-text-wrapper !w-fit">
                <div>
                    <small>Positive</small>
                    <button class="transparent" x-icon="lucide:ellipsis"></button>
                </div>
                <div class="row gap-px w-full">
                    <div role="group" class="theme-button-wrapper">
                        <button class="bg-positive-surface"></button>
                        <button class="bg-positive-surface-hover"></button>
                        <button class="bg-positive-inverse"></button>
                        <button class="bg-positive-content"></button>
                    </div>
                </div>
            </div>

            <!-- Negative -->
            <div class="theme-text-wrapper !w-fit">
                <div>
                    <small>Negative</small>
                    <button class="transparent" x-icon="lucide:ellipsis"></button>
                </div>
                <div class="row gap-px w-full">
                    <div role="group" class="theme-button-wrapper">
                        <button class="bg-negative-surface"></button>
                        <button class="bg-negative-surface-hover"></button>
                        <button class="bg-negative-inverse"></button>
                        <button class="bg-negative-content"></button>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <hr>

    <span class="h6 mt-10">Typography</span>

    <!-- Heading 1 -->
    <div class="theme-text-wrapper">
        <div>
            <small>Heading 1</small>
            <button class="transparent" x-icon="lucide:ellipsis"></button>
        </div>
        <textarea class="h1 theme-input unstyle" onclick="select()">The quick brown fox jumps over the lazy dog.</textarea>
    </div>

    <!-- Heading 2 -->
    <div class="theme-text-wrapper">
        <div>
            <small>Heading 2</small>
            <button class="transparent" x-icon="lucide:ellipsis"></button>
        </div>
        <textarea class="h2 theme-input unstyle" onclick="select()">The quick brown fox jumps over the lazy dog.</textarea>
    </div>

    <!-- Heading 3 -->
    <div class="theme-text-wrapper">
        <div>
            <small>Heading 3</small>
            <button class="transparent" x-icon="lucide:ellipsis"></button>
        </div>
        <textarea class="h3 theme-input unstyle" onclick="select()">The quick brown fox jumps over the lazy dog.</textarea>
    </div>

    <!-- Heading 4 -->
    <div class="theme-text-wrapper">
        <div>
            <small>Heading 4</small>
            <button class="transparent" x-icon="lucide:ellipsis"></button>
        </div>
        <textarea class="h4 theme-input unstyle" onclick="select()">The quick brown fox jumps over the lazy dog.</textarea>
    </div>

    <!-- Heading 5 -->
    <div class="theme-text-wrapper">
        <div>
            <small>Heading 5</small>
            <button class="transparent" x-icon="lucide:ellipsis"></button>
        </div>
        <textarea class="h5 theme-input unstyle" onclick="select()">The quick brown fox jumps over the lazy dog.</textarea>
    </div>

    <!-- Heading 6 -->
    <div class="theme-text-wrapper">
        <div>
            <small>Heading 6</small>
            <button class="transparent" x-icon="lucide:ellipsis"></button>
        </div>
        <textarea class="h6 theme-input unstyle" onclick="select()">The quick brown fox jumps over the lazy dog.</textarea>
    </div>

    <!-- Paragraph Text -->
    <div class="theme-text-wrapper">
        <div>
            <small>Paragraph Text</small>
            <button class="transparent" x-icon="lucide:ellipsis"></button>
        </div>
        <textarea class="p theme-input unstyle" onclick="select()">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</textarea>
    </div>

    <!-- Small Text -->
    <div class="theme-text-wrapper">
        <div>
            <small>Small Text</small>
            <button class="transparent" x-icon="lucide:ellipsis"></button>
        </div>
        <textarea class="small theme-input unstyle" onclick="select()">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</textarea>
    </div>

    <!-- Caption Text -->
    <div class="theme-text-wrapper">
        <div>
            <small>Caption Text</small>
            <button class="transparent" x-icon="lucide:ellipsis"></button>
        </div>
        <textarea class="caption theme-input unstyle" onclick="select()">A pig in a blanket, 2026.</textarea>
    </div>




</section>