<!-- Site chrome under every docs article. Replace this file to rebrand. -->
<footer class="mt-20">
  <hr>
  <div class="row-wrap justify-between items-center gap-4 pt-4">

    <figcaption class="text-content-subtle">&copy; 2026 <a href="https://andrewmatlock.com" target="_blank" rel="noopener">Andrew
        Matlock</a> • <a href="/docs/resources/license">MIT License</a>
    </figcaption>

    <div class="row-wrap gap-3">

      <a href="https://github.com/Manifest-X/Manifest" target="_blank" role="button" class="sm ghost outlined rounded-full" aria-label="GitHub" x-icon="simple-icons:github"></a>

      <div role="group" class="outlined rounded-full">
        <button x-color="'light'" class="sm rounded-s-full" :class="$color.current === 'light' ? 'bg-brand-surface/50 dark:bg-brand-surface/35  text-brand-content pointer-events-none' : 'ghost'" x-icon="lucide:sun" aria-label="Light mode"></button>
        <button x-color="'dark'" class="sm ghost" :class="$color.current === 'dark' ? 'bg-brand-surface/50 dark:bg-brand-surface/35  text-brand-content pointer-events-none' : 'ghost'" x-icon="lucide:moon" aria-label="Dark mode"></button>
        <button x-color="'system'" class="sm ghost rounded-e-full" :class="$color.current === 'system' ? 'bg-brand-surface/50 dark:bg-brand-surface/35  text-brand-content pointer-events-none' : 'ghost'" x-icon="lucide:sun-moon" aria-label="Auto mode"></button>
      </div>
    </div>
  </div>
</footer>
