<footer class="px-viewport-padding pt-20 pb-10 bg-surface-2" style="view-transition-name: site-footer">

  <!-- Content -->
  <nav class="col gap-4 w-content-width max-w-full mx-auto">

    <!-- Top -->
    <div class="columns-1 sm:columns-3 md:columns-5 gap-8 pb-10 [&_a]:text-sm">

      <!-- Brand block -->
      <!-- <div class="col gap-4 col-span-1">
        <a href="/" class="row items-center w-fit no-underline">
          <x-logo class="text-content-subtle"></x-logo>
        </a>
        <p class="w-60 max-w-full">The website & app framework that thinks like you do.</p>
      </div> -->

      <!-- Docs columns -->
      <template x-for="group in $x.docs" :key="group.group">
        <div class="col gap-3 mb-8 break-inside-avoid">
          <small x-text="group.group"></small>

          <!-- Group links -->
          <template x-if="group.slug !== 'elements'">
            <div class="col gap-3">
              <template x-for="(item, index) in group.items" :key="item.path || index">
                <a x-show="item.name" :href="'/docs/' + group.slug + '/' + item.path" :class="item.indent ? 'ps-3' : ''" x-text="item.name"></a>
              </template>
            </div>
          </template>

          <!-- Elements dropdown -->
          <template x-if="group.slug === 'elements'">
            <div class="col gap-3">
              <button x-dropdown="elements-menu" class="link text-sm" aria-label="Browse all HTML elements" aria-haspopup="menu">
                <span>20+ HTML Elements</span>
                <span x-icon="lucide:chevron-down"></span>
              </button>
              <dialog popover id="elements-menu" class="col w-40 p-2 [&_a]:justify-start [&_a]:w-full [&_a]:h-15 [&_a]:ghost">
                <template x-for="(item, index) in group.items" :key="item.path || index">
                  <a role="button" :href="'/docs/' + group.slug + '/' + item.path"><span x-icon="item.icon"></span><span x-text="item.name"></span></a>
                </template>
              </dialog>
            </div>
          </template>

          <!-- GitHub -->
          <template x-if="group.slug === 'resources'">
            <a href="https://github.com/Manifest-X/Manifest" target="_blank" rel="noopener"><span x-icon="meteor-icons:github"></span><span>GitHub</span><span x-icon="lucide:arrow-up-right"></span></a>
          </template>

        </div>
      </template>

    </div>

    <hr>

    <!-- Bottom -->
    <div class="row-wrap justify-between items-center gap-6">

      <!-- Attribution -->
      <figcaption>Copyright &copy; 2026 <a href="https://andrewmatlock.com" target="_blank" rel="noopener">Andrew
          Matlock</a>.&nbsp; Manifest is open source under <a href="/docs/resources/license">MIT License</a>.
      </figcaption>

      <!-- Controls -->
      <div class="row-wrap items-center gap-4">

        <!-- Color mode -->
        <div role="group" class="border border-line rounded-full">
          <button x-color="'light'" class="sm rounded-s-full" :class="{ 'accent pointer-events-none': $color.current === 'light' }" x-icon="lucide:sun" aria-label="Light mode"></button>
          <button x-color="'dark'" class="sm" :class="{ 'accent pointer-events-none': $color.current === 'dark' }" x-icon="lucide:moon" aria-label="Dark mode"></button>
          <button x-color="'system'" class="sm rounded-e-full" :class="{ 'accent pointer-events-none': $color.current === 'system' }" x-icon="lucide:sun-moon" aria-label="Auto mode"></button>
        </div>

        <!-- Locale -->
        <!-- <button class="sm rounded-full">
          <span x-icon="lucide:globe"></span>
          <span>English</span>
        </button> -->

      </div>
    </div>

  </nav>



</footer>