<section class="col gap-8 px-20 py-20" style="background-image: linear-gradient(to right, var(--color-page) 0%, var(--color-page) 25%, var(--color-surface-1) 25%, var(--color-surface-1) 50%, var(--color-surface-2) 50%, var(--color-surface-2) 75%, var(--color-surface-3) 75%, var(--color-surface-3) 100%)">


    <!-- Colors -->
    <div class="row-wrap gap-8">

        <small>Colors</small>

        <!-- Base Palette -->
        <div class="theme-example-wrapper">
            <div>
                <figcaption>Base Palette</figcaption>
                <button class="transparent" x-icon="lucide:ellipsis"></button>
            </div>
            <div class="row gap-px w-full">
                <div role="group" class="theme-button-wrapper w-full">
                    <button class="bg-50"></button>
                    <button class="bg-100"></button>
                    <button class="bg-200"></button>
                    <button class="bg-300"></button>
                    <button class="bg-400"></button>
                    <button class="bg-500"></button>
                    <button class="bg-600"></button>
                    <button class="bg-700"></button>
                    <button class="bg-800"></button>
                    <button class="bg-900"></button>
                    <button class="bg-950"></button>
                </div>
            </div>
        </div>

        <div class="row-wrap gap-4 w-full [&_button]:!w-2">

            <!-- Surface -->
            <div class="theme-example-wrapper !w-fit">
                <div>
                    <figcaption>Surface</figcaption>
                    <button class="transparent" x-icon="lucide:ellipsis"></button>
                </div>
                <div class="row gap-px">
                    <div role="group" class="theme-button-wrapper">
                        <button class="bg-page" x-tooltip="Page"></button>
                        <button class="bg-surface-1" x-tooltip="Surface 1"></button>
                        <button class="bg-surface-2" x-tooltip="Surface 2"></button>
                        <button class="bg-surface-3" x-tooltip="Surface 3"></button>
                        <button class="bg-popover-surface" x-tooltip="Popover Surface"></button>
                    </div>
                </div>
            </div>

            <!-- Content -->
            <div class="theme-example-wrapper !w-fit">
                <div>
                    <figcaption>Content</figcaption>
                    <button class="transparent" x-icon="lucide:ellipsis"></button>
                </div>
                <div class="row gap-px w-full">
                    <div role="group" class="theme-button-wrapper">
                        <button class="bg-content-subtle" x-tooltip="Subtle"></button>
                        <button class="bg-content-neutral" x-tooltip="Neutral"></button>
                        <button class="bg-content-stark" x-tooltip="Stark"></button>
                        <button class="bg-line" x-tooltip="Lines & Borders"></button>
                    </div>
                </div>
            </div>

            <!-- Fields -->
            <div class="theme-example-wrapper !w-fit">
                <div>
                    <figcaption>Fields</figcaption>
                    <button class="transparent" x-icon="lucide:ellipsis"></button>
                </div>
                <div class="row gap-px w-full">
                    <div role="group" class="theme-button-wrapper">
                        <button class="bg-field-surface" x-tooltip="Field Surface"></button>
                        <button class="bg-field-surface-hover" x-tooltip="Fueld Surface Hover"></button>
                        <button class="bg-field-inverse" x-tooltip="Field Inverse (Content)"></button>
                    </div>
                </div>
            </div>

            <!-- Brand -->
            <div class="theme-example-wrapper !w-fit">
                <div>
                    <figcaption>Brand</figcaption>
                    <button class="transparent" x-icon="lucide:ellipsis"></button>
                </div>
                <div class="row gap-px w-full">
                    <div role="group" class="theme-button-wrapper">
                        <button class="bg-brand-surface" x-tooltip="Brand Surface"></button>
                        <button class="bg-brand-surface-hover" x-tooltip="Brand Surface Hover"></button>
                        <button class="bg-brand-inverse" x-tooltip="Brand Inverse<br>(Field Content)"></button>
                        <button class="bg-brand-content" x-tooltip="Brand Content"></button>
                    </div>
                </div>
            </div>

            <!-- Accent -->
            <div class="theme-example-wrapper !w-fit">
                <div>
                    <figcaption>Accent</figcaption>
                    <button class="transparent" x-icon="lucide:ellipsis"></button>
                </div>
                <div class="row gap-px w-full">
                    <div role="group" class="theme-button-wrapper">
                        <button class="bg-accent-surface"></button>
                        <button class="bg-accent-surface-hover"></button>
                        <button class="bg-accent-inverse"></button>
                        <button class="bg-accent-content"></button>
                    </div>
                </div>
            </div>

            <!-- Positive -->
            <div class="theme-example-wrapper !w-fit">
                <div>
                    <figcaption>Positive</figcaption>
                    <button class="transparent" x-icon="lucide:ellipsis"></button>
                </div>
                <div class="row gap-px w-full">
                    <div role="group" class="theme-button-wrapper">
                        <button class="bg-positive-surface"></button>
                        <button class="bg-positive-surface-hover"></button>
                        <button class="bg-positive-inverse"></button>
                        <button class="bg-positive-content"></button>
                    </div>
                </div>
            </div>

            <!-- Negative -->
            <div class="theme-example-wrapper !w-fit">
                <div>
                    <figcaption>Negative</figcaption>
                    <button class="transparent" x-icon="lucide:ellipsis"></button>
                </div>
                <div class="row gap-px w-full">
                    <div role="group" class="theme-button-wrapper">
                        <button class="bg-negative-surface"></button>
                        <button class="bg-negative-surface-hover"></button>
                        <button class="bg-negative-inverse"></button>
                        <button class="bg-negative-content"></button>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <hr>

    <small class="mt-10">Typography</small>

    <!-- Heading 1 -->
    <div class="theme-example-wrapper" x-tooltip="Heading 1">
        <textarea class="h1 theme-input unstyle" onclick="select()">The Quiet Persistence of Ordinary Things</textarea>
        <button class="transparent" x-icon="lucide:ellipsis"></button>
    </div>

    <!-- Heading 2 -->
    <div class="theme-example-wrapper" x-tooltip="Heading 2">
        <textarea class="h2 theme-input unstyle" onclick="select()">Concerning lighthouses and other small mercies</textarea>
        <button class="transparent" x-icon="lucide:ellipsis"></button>
    </div>

    <!-- Heading 3 -->
    <div class="theme-example-wrapper" x-tooltip="Heading 3">
        <textarea class="h3 theme-input unstyle" onclick="select()">Some practical considerations</textarea>
        <button class="transparent" x-icon="lucide:ellipsis"></button>
    </div>

    <!-- Heading 4 -->
    <div class="theme-example-wrapper" x-tooltip="Heading 4">
        <textarea class="h4 theme-input unstyle" onclick="select()">A note on terminology</textarea>
        <button class="transparent" x-icon="lucide:ellipsis"></button>
    </div>

    <!-- Heading 5 -->
    <div class="theme-example-wrapper" x-tooltip="Heading 5">
        <textarea class="h5 theme-input unstyle" onclick="select()">Method</textarea>
        <button class="transparent" x-icon="lucide:ellipsis"></button>
    </div>

    <!-- Heading 6 -->
    <div class="theme-example-wrapper" x-tooltip="Heading 6">
        <textarea class="h6 theme-input unstyle" onclick="select()">See also</textarea>
        <button class="transparent" x-icon="lucide:ellipsis"></button>
    </div>

    <!-- Paragraph -->
    <div class="theme-example-wrapper" x-tooltip="Paragraph">
        <textarea class="p theme-input unstyle" onclick="select()">In 1923, the foundation purchased 47 acres for $12,500 — roughly $230,000 in today's currency. The deed, signed on the 3rd of October, included three provisos: (1) the orchard would remain; (2) the well must be maintained "in perpetuity"; and (3) no building would exceed two stories. All three conditions held until 1971.</textarea>
        <button class="transparent" x-icon="lucide:ellipsis"></button>
    </div>

    <!-- Small -->
    <div class="theme-example-wrapper" x-tooltip="Small">
        <textarea class="small theme-input unstyle" onclick="select()">She walked the long way home, past the bakery that had closed in March and the bench where someone, years ago, had carved a name no one recognized anymore.</textarea>
        <button class="transparent" x-icon="lucide:ellipsis"></button>
    </div>

    <!-- Caption -->
    <div class="theme-example-wrapper" x-tooltip="Caption">
        <textarea class="caption theme-input unstyle" onclick="select()">A pig in a blanket, 2026.</textarea>
        <button class="transparent" x-icon="lucide:ellipsis"></button>
    </div>

    <!-- Blockquote -->
    <div class="theme-example-wrapper" x-tooltip="Blockquote">
        <textarea class="blockquote theme-input unstyle" onclick="select()">We are, all of us, translators of a language we never quite learned to speak.</textarea>
        <button class="transparent" x-icon="lucide:ellipsis"></button>
    </div>




</section>